/* COLORS */

$bgDarkest: #111111;
$bgDarker: #121212;
$bgDark: #1B1B1B;
$bgMain: #242424;
$bgContent: #2D2D2D;
$bgLight: #474747;
$bgLighter: #666666;
$bgLightest: #797979;

$textLight: #FFFFFF;
$textMain: #C8C8C8;
$textFaint: #919191;
$textFainter: #777777;
$textDark: #000000;

$link: #00A2FF;
$linkFocused: #0055B3;

$linkUrgent: #FF7777;
$linkUrgentFocused: #CC4444;

$buttonLight: #BCBCBC;
$buttonLightFocused: #A4A4A4;

$buttonDark: #333333;
$buttonDarkFocused: #393939;

$infoMain: #FFFF66;
$infoDark: #DDAA22;

$accent: #E2231A;

$lightOverlay: #ffffff;
$darkOverlay: #000000;

/* SPACING */

$space0: 0px;
$space1: 4px;
$space2: 8px;
$space3: 16px;
$space4: 32px;
$space5: 64px;
$space6: 128px;

/* FONT */

$font: 14px/1.428 'Source Sans Pro', Arial, Helvetica, sans-serif;

