@import '~common/css/theme';

.rb-search-bar {
    position: relative;
    width: 100%;
    height: 100%;

    &__suggests {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        &-list {
            bottom: 0;
            top: 100%;
            height: 0;
            width: 100%;
            background: $bgContent;
            overflow-y: hidden;
            border-radius: $space1;

            &-open {
                height: fit-content;
            }
        }

        &-row {
            font: $font;
            display: flex;
            align-items: center;
            min-height: 50px;
            color: $textMain;
            padding: $space1 $space2;
            cursor: pointer;
            pointer-events: all;

            &:hover {
                background: $lightOverlay;
            }
        }
    }

    &__top-suggests-row {
        border-bottom: 1px solid $bgLight;

        &-img {
            width: 48px;
            height: 48px;
            margin-right: $space2;
        }
    }
}
