@import '~common/css/theme';

.rb-btn-lnk {
    font: $font;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    user-select: none;
    text-decoration: none;
    text-align: center;
    padding: $space1 $space2;
    cursor: pointer;

    &__round {
        border-radius: $space1;
    }

    &__light {
        background: $buttonLight;
        color: $textDark;

        &:active {
            background: $buttonLightFocused;
        }
    }

    &__dark {
        background: $buttonDark;
        color: $textLight;

        &:active {
            background: $buttonDarkFocused;
        }
    }
}
